{
  "mumu_path": "C:\\Program Files\\Netease\\MuMu Player 12\\shell\\MuMuManager.exe",
  "vm_indexes": 0,
  "interval": 1,
  "max_distance": 5,
  "loop": false,
  "location": [],
  "path_points": []
}
